@media screen and (min-width: 430px) {
    nav .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    nav .container .left h1 {
        font-size: 20px;
        text-align: start;
    }

    nav .container .right h1 {
        font-size: 20px;
        text-align: start;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
        font-size: 30px;
    }

    .section1 .container p {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .section2 .container {
        display: flex;
        flex-wrap: wrap;
    }

    .section2 .container h1 {
        font-size: 30px;
    }

    .section2 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section4 .container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }

    .section5 .container form {
        height: auto;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
        height: 10px;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 10px;
    }

    .section5 .container form .buttons button {
        width: 100%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 430px) and (max-width: 560px) {
    nav .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    nav .container .left h1 {
        width: 100%;
        text-align: start;
        padding: 0 30px;
    }

    nav .container .right h1 {
        text-align: start;
        padding: 0 30px;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
    }

    .section1 .container p {
        width: 100%;
        text-align: center;
    }

    .section2 .container {
        display: flex;
    }

    .section2 .container h1 {
        font-size: 30px;
    }

    .section2 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section2 .container .cards .card{
        width: 350px;
    }

    .section2 .container .cards .card h1{
        font-size: 30px;
    }

    .section2 .container .cards .card p{
        font-size: 16px;
        width: 100%;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section4 .container {
        display: flex;
        width: 100%;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 50px;
    }

    .section5 .container form .buttons button {
        width: 100%;
    }
}

@media screen and (min-width: 560px) and (max-width: 690px) {
    nav .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    nav .container .left h1 {
        width: 100%;
        text-align: start;
        padding: 0 30px;
    }

    nav .container .right h1 {
        text-align: start;
        padding: 0 30px;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
    }

    .section1 .container p {
        width: 100%;
        text-align: center;
    }

    .section2 .container {
        display: flex;
    }

    .section2 .container h1 {
        font-size: 30px;
    }

    .section2 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section2 .container .cards .card{
        width: 300px !important ;
    }

    .section2 .container .cards .card h1{
        font-size: 30px;
    }

    .section2 .container .cards .card p{
        font-size: 16px;
        width: 100%;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section3 .container .cards .card{
        width: 300px !important;
    }

    .section4 .container {
        display: flex;
        width: 100%;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 50px;
    }

    .section5 .container form .buttons button {
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (min-width: 690px) and (max-width: 820px) {
    nav .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    nav .container .left h1 {
        width: 100%;
        text-align: start;
        padding: 0 50px;
    }

    nav .container .right h1 {
        text-align: start;
        padding: 0 50px;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
        font-size: 40px;
    }

    .section1 .container p {
        width: 100%;
        font-size: 19px;
        text-align: center;
    }
    .section2 .container h1 {
        font-size: 30px;
    }
    .section2 .container .cards{
        display: flex;
        width: 100%;
    }
    .section2 .container .cards .card{
        width: 300px !important;
    }

    .section2 .container .cards .card h1{
        font-size: 30px;
    }

    .section2 .container .cards .card p{
        font-size: 16px;
        width: 100%;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section3 .container .cards .card{
        width: 300px !important;
    }

    .section4 .container {
        display: flex;
        width: 100%;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 50px;
    }

    .section5 .container form .buttons button {
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (min-width: 820px) and (max-width: 940px) {
    nav .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    nav .container .left h1 {
        width: 100%;
        text-align: start;
        padding: 0 50px;
    }

    nav .container .right h1 {
        text-align: start;
        padding: 0 50px;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
        font-size: 45px;
    }

    .section1 .container p {
        width: 100%;
        text-align: center;
    }
    .section2 .container {
        display: flex;
        width: 100%;
    }
    .section2 .container h1 {
        font-size: 30px;
    }
    .section2 .container .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .section2 .container .cards .card{
        width: 380px !important;
    }
    .section2 .container .cards .card h1{
        font-size: 30px;
    }
    .section2 .container .cards .card p{
        font-size: 19px;
        width: 100%;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section3 .container .cards .card{
        width: 380px !important;
    }

    .section4 .container {
        display: flex;
        width: 100%;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 50px;
    }

    .section5 .container form .buttons button {
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (min-width: 940px) and (max-width: 1400px) {
    nav .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    nav .container .left h1 {
        width: 100%;
        text-align: start;
        padding: 0 50px;
    }

    nav .container .right h1 {
        text-align: start;
        padding: 0 50px;
    }

    .section1 .container {
        display: flex;
        width: 100%;
        background-position: bottom;
    }

    .section1 .container h1 {
        text-align: center;
        font-size: 45px;
    }

    .section1 .container p {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    .section2 .container {
        display: flex;
        width: 100%;
    }
    .section2 .container h1 {
        font-size: 30px;
    }
    .section2 .container .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .section2 .container .cards .card{
        width: 380px !important;
    }
    .section2 .container .cards .card h1{
        font-size: 30px;
    }
    .section2 .container .cards .card p{
        font-size: 19px;
        width: 100%;
    }

    .section3 .container {
        display: flex;
        width: 100%;
    }

    .section3 .container h1 {
        font-size: 30px;
    }

    .section3 .container .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section3 .container .cards .card{
        width: 380px !important;
    }

    .section4 .container {
        display: flex;
        width: 100%;
    }

    .section4 .container h1 {
        font-size: 30px;
    }

    .section5 .container {
        display: flex;
        width: 100%;
    }
    .section5 .container form{
        display: flex;
        flex-direction: column;
    }

    .section5 .container form h1 {
        font-size: 30px;
        padding: 0;
    }

    .section5 .container form .inputs input {
        width: 100%;
        padding: 20px 0;
        border: 1px solid black;
    }

    .section5 .container form .buttons textarea {
        width: 100%;
        height: 50px;
        border: 1px solid black;
    }

    .section5 .container form .buttons button {
        width: 100%;
        padding: 20px 0;
    }
}
